.env
.env.EXAMPLE
.git
.DS_Store
.idea
*/__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# project-specified settings
docker-compose.yml
docker-compose.local.yml
README.md
Dockerfile.flask_app

# ignore certificates
certs/

# Ignore all files in database_storage but keep the directory
database_storage/